{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
{% if user.is_superuser %}
<div class="formularioContacto" style="text-align: center;">
    <h1 style="color: white;">Agregar Categoría</h1>
    <form method="post">
        {% csrf_token %}
        <table style="margin: 20px auto; color: black;">
        {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-success" style="width: 150px; margin-right: 60px;">Guardar Categoría</button>    </form>
</div>
<div class="formularioContacto" style="text-align: center;">
    <h2 style="color: white; margin-top: 30px;">Listado de Categorías</h2>
    <ul style="list-style-type: none; padding: 0;">
        {% for categoria in categorias %}
        <li style="margin-bottom: 10px; display: flex;">
            <span style="flex: 1;">{{ categoria.nombre }}</span>
            <form method="post" action="{% url 'borrar_categoria' categoria.id %}" style="margin-left: 10px;">
                {% csrf_token %}
                <button type="submit" class="btn btn-success" style="width: 150px; margin-right: 60px;">Eliminar</button>            </form>
        </li>
        {% empty %}
        <li style="color: white;">No hay categorías disponibles.</li>
        {% endfor %}
    </ul>
</div>
{% else %}
<div class="formularioContacto">
    <H4 style="text-align: center; color: white;">NO TIENES PERMISOS PARA AGREGAR CATEGORÍAS.</H4>
</div>
{% endif %}

{% endblock %}
