{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
{% if user.is_superuser %}
<div class="formularioContacto" style="text-align: center;">
    <h1 style="color: white;">Agregar Producto</h1>
    <form method="post" enctype="multipart/form-data" style="display: inline-block; text-align: left;">
        {% csrf_token %}
        <table style="margin: 20px auto; color: white;">
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-success" style="width: 160px; margin-right: 60px;">Guardar Producto</button>    </form>
    </form>
</div>

<div class="formularioContacto" style="margin-top: 50px; text-align: center;">
    <h2 style="color: white;">Lista de Productos</h2>
    <ul style="list-style-type: none; padding: 0; text-align: left;">
        {% for producto in productos %}
        <li style="margin-bottom: 20px; display: flex; align-items: center; justify-content: center;">
            {% if producto.imagen %}
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" style="max-width: 100px; margin-right: 20px;">
            {% else %}
            <span style="width: 100px; height: 100px; background-color: lightgray; display: inline-block; margin-right: 20px;"></span>
            {% endif %}
            <span>{{ producto.nombre }}</span>
            <form method="post" action="{% url 'borrar_producto' producto.id %}" style="margin-left: 20px;">
                {% csrf_token %}
                <button type="submit" class="btn btn-success" style="width: 160px; margin-right: 60px;">Eliminar</button>    </form>
            </form>
        </li>
        {% empty %}
        <li style="color: white;">No hay productos disponibles.</li>
        {% endfor %}
    </ul>
    {% else %}
        <div class="formularioContacto">
        <H4 style="text-align: center; color: white;">NO TIENES PERMISOS PARA AGREGAR PRODUCTOS.</H4>
        </div>
    {% endif %}
</div>
{% endblock %}